<!--
  footer  start
  ============================= -->
<link href="~/Content/css/jquery.lightbox-0.5.css" rel="stylesheet" />
<script src="~/Content/js/jquery.lightbox-0.5.js"></script>
<!-- Ativando o jQuery lightBox plugin -->
<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
</script>
<style type="text/css">
/* jQuery lightBox plugin - Gallery style */
    #gallery {
        background-color:#fff;
        padding: 10px;
        width: 520px;
    }

        #gallery ul {
            list-style: none;
        }

            #gallery ul li {
                display: inline;
            }

            #gallery ul img {
                border: 1px solid #C12F81;
                border-width: 1px 1px 1px;
                margin-bottom:5px;
            }

            #gallery ul a:hover img {
                border: 5px solid #fff;
                border-width: 5px 5px 20px;
                color: #fff;
            }

            #gallery ul a:hover {
                color: #fff;
            }
</style>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="200ms">
                    <h3>CONTACT <span>INFO</span></h3>
                    <div class="info">
                        <ul>
                            <li>
                                <h4><i class="fa fa-phone"></i>Telefone</h4>
                                <p>Tel: +971-50-7779644 <br/>
+971-50-7779655<br/>
+971-50-7779688  </p>
                               

                            </li>
                            <li>
                                <h4><i class="fa fa-map-marker"></i>Address</h4>
                                <p>OMX Technology – FZE
1-D-OFF-124
TechnoHUB, Dubai Silicon Oasis
Dubai, UAE</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-envelope"></i>E mail</h4>
                                <p>E-mail: support@omxtech.net <br/>
E-mail: info@omxtech.net<br/>
E-mail: sales@omxtech.net </p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-8">
                <div class="block wow fadeInLeft" data-wow-delay="700ms">
                    <div id="gallery">
                        <ul>
                            <li>
                                <a href="~/Content/images/products/p1.png" title="OMX AP-120E InWall Access Point ">
                                    <img src="~/Content/images/products/p1.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p2.png" title="OMX AP-130E InWall Access Point ">
                                    <img src="~/Content/images/products/p2.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p3.png" title="OMX SMB Wireless Access Point">
                                    <img src="~/Content/images/products/p3.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p4.png" title="OMX AP-3200S Ceiling Enterprise Wireless Access Point">
                                    <img src="~/Content/images/products/p4.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p5.png" title="OMX AP-300S InWall Access Point ">
                                    <img src="~/Content/images/products/p5.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p6.png" title="">
                                    <img src="~/Content/images/products/p6.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p7.png" title="">
                                    <img src="~/Content/images/products/p7.png" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p16.png" title="">
                                    <img src="~/Content/images/products/p16.jpg" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p17.png" title="">
                                    <img src="~/Content/images/products/p17.jpg" width="72" height="72" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/products/p18.png" title="">
                                    <img src="~/Content/images/products/p18.jpg" width="72" height="72" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div style="border-top:1px solid #222;padding:5px;">
                        <span>Download (PDF) </span>@Html.ActionLink("Products Specifications", "DownloadPDF", "Home")
                    </div>
                    @*<h3>LATEST <span>COMPANY NEWS</span></h3>
                    <div class="blog">
                        <ul>
                            <li>
                                <h4><a href="#">Feb 15-2016</a></h4>
                                <p>Importaing a shippment of animal feeds and bills of roadgrass</p>
                            </li>
                            <li>
                                <h4><a href="#">Jun 20-2016</a></h4>
                                <p>Visit to Salalah Port and conducting a series of mettings</p>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
            <!-- .col-md-4 close -->
            @*<div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="1100ms">
                    <div class="gallary">
                        <h3>PHOTO <span>STREAM</span></h3>
                        <ul>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-4.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-media-link">
                        <h3>Follow <span>US</span></h3>
    <ul>
        <li>
            <a href="https://twitter.com/">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        
    </ul>
                    </div>
                </div>
            </div>*@
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #footer close -->
<!--
footer-bottom  start
============================= -->
<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <p>Copyright &copy; 2016 - All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


    
