@model IEnumerable<OmxTechNet.Models.ViewModel.ArticleViewData>

<style>
    .omxeseries p{
padding-bottom:10px;
}
.omxeseries ul{
list-style:circle;
}

.omxeseries ul li{
padding-bottom:10px;
background-color:#E7E7E7;
border-bottom:1px solid #222;
}

#prolst .block{border:1px solid #222;height:590px;padding:10px;}
</style>
<!--
    about-us start
    ============================== -->
<section id="omxproducts" style="background-color:#fff;padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <div class="omxeseries">
                <h2 style="color:#c12f81;">OMX OMW-E Series</h2>
                <p>Introducing X-Sense Smart Antenna Technology / Te</p>
                <ul>
                    <li>Full coverage based on 16.77 million signal paths
                With  24 built-in array antennas that dynamically selects up to 16.77 million different antenna combinations and effectively solves the weakness of coverage dead zones of traditional antennas.</li>
                    <li>Automatic adjustment for best signals
                Even if the smart device is moving fast, the X-Sense Smart Antenna can always trace the smart device and offer the best signal strength.</li>
                    <li>Signal strength multiplied by 3 times with the same power supply</li>
                    <li>Interference reduction by 30% for easier deployment</li>
                    <li>High-Speed Wireless Performance with Sustainability</li>
                    <li>High performance for wireless service requirements</li>
                    <li>Go green, save energy and protect environment</li>

                </ul>
            </div>
            </div><!-- .col-md-12 close -->
            <div class="col-md-8">

                <img src="~/Content/images/products/eseries.jpg" /> <br/>
                <img src="~/Content/images/products/eseries2.jpg" />
            </div>

        </div> 
    <div id="prolst" class="row" style="padding-top:20px;">
       
            <div class="col-md-4 block">
                <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Content/images/products/p14.png" alt="omxtech" style="width:20rem;">
                <h3 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                    <span style="color:#EF038E;">OMX Enterprise Wireless Access Point</span>
                </h3>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                    •	Centrally Control & Manage from 32 to 200 Access Points<br />
                    •	Seamless Roaming Experience<br />
                    •	Intelligent Identification of Smart Devices<br />
                    •	Fair Scheduling (Fair High Speed wireless for all users)<br />
                    •	Intelligent Load Balancing<br />
                    •	Local Web Portal Authentication<br />
                    •	Flexible Authentication Modes<br />
                    •	Web Interface Management<br />
                    •	Secure User Access<br />

                </p>

            </div>
            <div class="col-md-4 block">
                <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Content/images/products/p12.jpg" alt="omxtech" style="width:20rem;">
                <h3 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                    <span style="color:#EF038E;">OMX AP-520 Ceiling Enterprise Wireless Access Point</span>
                </h3>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                    •	1200 Mbps 802.11ac Speed  5 GHz<br />
                    •	300 Mbps 802.11n Speed 2.4 GHz<br />
                    •	Dual band, Dual Radio 2x2 MIMO<br />
                    •	Dual Gigabit Ethernet<br />
                    •	X-Sense Smart Antenna Array<br />
                    •	Connects up to 256 devices<br />
                    •	Up to 32 SSIDs<br />
                    •	PoE Support<br />


                </p>

            </div>
            <div class="col-md-4 block">
                <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Content/images/products/p12.jpg" alt="omxtech" style="width:20rem;">
                <h3 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                    <span style="color:#EF038E;">OMX AP-520 OMX AP-530 Ceiling Enterprise Wireless Access Point</span>
                </h3>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                    •	1200 Mbps 802.11ac Speed  5 GHz<br />
                    •	600 Mbps 802.11n Speed  2.4 GHz<br />
                    •	Dual band, Dual Radio 3x3 MIMO<br />
                    •	Dual Gigabit Ethernet<br />
                    •	X-Sense Smart 24 Antenna Array<br />
                    •	Connects up to 256 devices<br />
                    •	Up to 32 SSIDs<br />
                    •	PoE Support<br />



                </p>

            </div>
            <div class="col-md-4 block">
                <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Content/images/products/p1.png" alt="omxtech" style="width:20rem;">
                <h3 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                    <span style="color:#EF038E;">OMX AP-120E InWall Access Point </span>
                </h3>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                    •	Dual Band2.4 GHz & 5 GHz<br />
                    •	300 Mbps 802.11n<br />
                    •	Dual band, Dual Radio 3x3 MIMO<br />
                    •	4 x 100 Mbps Ethernet<br />
                    •	Connects up to 32 devices<br />
                    •	Up to 8 SSIDs<br />
                    •	PoE Support<br />
                    •	Available in 4 colors (White, Gray, Black & Gold)<br />

                </p>

            </div>
            <div class="col-md-4 block">
                <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="~/Content/images/products/p2.png" alt="omxtech" style="width:20rem;">
                <h3 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                    <span style="color:#EF038E;">OMX AP-130E InWall Access Point  </span>
                </h3>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                    •	867 Mbps 802.11ac  5 GHz <br />
                    •	300 Mbps 802.11n  2.4 GHz<br />
                    •	Dual band, Dual Radio 3x3 MIMO<br />
                    •	4 x 1000 Mbps Ethernet<br />
                    •	PoE Pass Through (IP Phone)<br />
                    •	Connects up to 240 devices<br />
                    •	Up to 8 SSIDs<br />
                    •	PoE Support<br />


                </p>

            </div>

    </div>
    <div style="border-top:1px solid #fff;padding:5px;text-align:right;">

            @*<span style="color:#fff;">Download (PDF) </span>@Html.ActionLink("Products Specifications", "DownloadPDF", "Home")*@
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->