@model IEnumerable<OmxTechNet.Models.ViewModel.ProductViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!--
   blog start
   ============================ -->
<section id="blog">
    <div class="container">
        @foreach (var itm in Model)
        {
            <div class="col-sm-2 col-md-2" style="height:200px;">
                <img src="@Url.Content(@itm.a_img)"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-4 col-md-4">
                <blockquote>
                    <p style="font-weight:bold;color:#C30E7E">@itm.a_title</p>
                </blockquote>
                <p style="height:200px; overflow:hidden;">
                    @itm.a_desc
                </p>
            </div>
        }
        
    </div><!-- .containe close -->
</section><!-- #blog close -->
