@model IEnumerable<OmxTechNet.Models.ViewModel.ArticleViewData>
<!--
Slider start
============================== -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>OmxTech<span> we deliver your vision</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">

                        @foreach (var itm in Model)
                        {
                            <div>
                                <img class="img-responsive" src="@itm.a_img" alt="" style="height:220px;">
                            </div>
                        }
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
